html, body {
    background-color: #eee;
    color: #444;
}

input, textarea, button, select {
    background-color: #eee;
    color: #444;
    border: 1px solid #af5f00;
}

.lightsOut {
    border-color: #303030;
    color: #444;
}

.lightsOut:hover {
    background-color: #303030;
    color: #d7d7d7;
}

div.error {
    background-color: #d7afaf;
    color: #af0000;
}
