html, body {
    background-color: #303030;
    color: #d7d7d7;
}

input, textarea, button, select {
    background-color: #303030;
    border: 1px solid #d7d7af;
    color: #d7d7d7;
}

.lightsOut {
    border-color: #eee;
    color: #d7d7d7;
}

.lightsOut:hover {
    background-color: #eee;
    color: #444;
}

div.error {
    background-color: #870000;
    color: #ff8787;
}
