html, body {
    margin: 0;
    padding: 0
    font: 16pt sans-serif;
    line-height: 1.1;
}

html, body {
    height: 100%;
}

.mode {
    width: 80%;
    margin: 1em auto;
    vertical-align: middle;
    text-align: center;
}

.display,
.input,
.input input {
    font-size: 18pt;
}

.input input {
    border: 0;
    padding: 0;
    font-size: 18pt;
}

.lightsOut {
    position: absolute;
    bottom: 1em;
    right: 1em;
    border-radius: 0.4em;
    cursor: pointer;
    padding: 0.4em;
    font-size: 0.75em;
    border: 0.1em solid red;
}

div.error {
    border-radius: 0.4em;
    padding: 0.4em;
}

.results {
    margin: 1em auto;
}

.results table {
    margin: 0 auto;
}

.results .title {
    text-align: center;
}
