html, body {
    margin: 0;
    padding: 0
    font: 16pt sans-serif;
    line-height: 1.1;
}

html, body {
    height: 100%;
}

.mode {
    width: 80%;
    margin: 1em auto;
    vertical-align: middle;
    text-align: center;
}

.display,
.input,
.input input {
    font-size: 18pt;
}

.input input {
    border: 0;
    padding: 0;
    font-size: 18pt;
}

.lightsOut {
    position: absolute;
    bottom: 1em;
    right: 1em;
    border-radius: 0.4em;
    cursor: pointer;
    padding: 0.4em;
    font-size: 0.75em;
    border: 0.1em solid red;
}

div.error {
    border-radius: 0.4em;
    padding: 0.4em;
}

.results .level {
    border: none;
    margin: 0;
    padding: 0;
}

.results .level legend {
    width: 9%;
    text-align: right;
    float: left;
}

.results .level:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.results ul {
    float: left;
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.results ul li {
    padding: 0;
    margin: 0;
}

.results .result {
    /* float: left; */
    margin: 0.25em 0.125em;
    border-radius: 0.4em;
}

.results .result .score {
    padding: 0.5em 0.25em;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    width: 2em;
    overflow: clip;
    float: left;
}

.results .result .phrase {
    padding: 0.5em 0.25em;
    white-space: nowrap;
    float: left;
}

.results .result:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.resultsTable {
    margin: 1em auto;
}

.resultsTable {
    margin: 0 auto;
}

.resultsTable th,
.resultsTable td {
    padding: 0.1em 0.15em;
}

.resultsTable td {
    text-align: left;
}

/*.resultsTable thead,
.resultsTable tbody {
    display: block;
}*/

.resultsTable tbody {
    overflow: auto;
    height: 15em;
}

.resultsTable .title {
    text-align: center;
}
